html {
	background-color: white;
}

#header {
	border: 2px black solid;
	text-align: center;
	background-color: #e6f3f7;
	border-radius: 25px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.sidegap { /*for between the links in the Header*/
	border: none;
	padding-left: 10px;
	padding-right: 10px;
}
.topgap { /*for between the WBox's to spread things out*/
	padding-top: 20px;
	}
#WhoIAm {
}
#WhatIKnow {
}
#WhatIveDone{
}
p { /*to keep the text inside the WBox's from the edges*/
	padding-left: 10px;
	padding-right: 10px;
}
.WBox { /*for each box holding all of the content*/
	border: 2px black solid;
	border-radius: 5px;
	background-color: #e6f3f7;
}
h2 {
	text-align: center;
	}
a href {
	}
#footer { 
	}